<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professores</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/professores.css">
    <link rel="icon" type="image/png" href="/static/uploads/Logo EducaSimples.png" sizes="16x16">

</head>
<body>
    <header>
        <nav>
            <div class="logo">Portal EducaSimples</div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/forum">Chat</a></li>
                <li><a href="/materiais">Materiais</a></li>
                <li><a href="/doacao">Doações</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="container">
            <h1>Professores - EducaSimples</h1>
            <p>Conheça nossa equipe de educadores especializados em diversas áreas do conhecimento.</p>
        </div>
    </section>

    <section class="professores">
        <div class="container">
            <h2>Equipe de Professores</h2>
            <div class="cards">
                <!-- Professor 1 -->
                <div class="card">
                    <img src="/static/uploads/professora vanessa.png" alt="Foto do Professor">
                    <h3>Professor(a) Vanessa</h3>
                    <p>Matéria: Geografia e História</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 EducaSimples. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
